* {
  font-family: 'Varela Round', sans-serif !important;
}

.intro {
  padding-top: 85px;
  padding-bottom: 93px;
}

.intro--titles {
  color: #fff;
  text-align: center;
  padding-bottom: 45px;
}

.intro--titles--header {
  color: #fff;
  margin-bottom: 4px;
}

.introContent--text {
  color: #fff;
}

.introContent--text p {
  padding-bottom: 22px;
}

.blue-bg {
  background-color: #00bdbd;
}

.bntDownload {
  font-size: 16px;
  font-weight: 700;
  background: #474d5d;
  padding: 16px 22px;
  display: inline-block;
  color: #fff;
}

.mehmet {
  width: 310px;
}
/*# sourceMappingURL=style.css.map */